# =========================
# LOG FILES
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# FRONTEND (React/Vite)
# =========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/

# Local env files
*.local
.env

# =========================
# BACKEND (Python)
# =========================
backend/venv/
backend/__pycache__/
*.pyc

# ML model files
*.pkl

# =========================
# EDITORS & SYSTEM FILES
# =========================
.vscode/*
!.vscode/extensions.json

.idea
.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?